<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="awsService"
          class="com.anoopkrdev.springdemo.xml.services.AWSService">
        <constructor-arg ref="samlService" />
        <property name="region" value="${cloud.region}" />
    </bean>

    <bean id="azureService"
          class="com.anoopkrdev.springdemo.xml.services.AzureService">
        <property name="authenticationService" ref="openIdService" />
        <property name="region" value="${cloud.region}" />
    </bean>

    <bean id="samlService"
          class="com.anoopkrdev.springdemo.xml.services.SAMLService">
    </bean>
    <bean id="openIdService"
          class="com.anoopkrdev.springdemo.xml.services.OpenIDService">
    </bean>
</beans>





